{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block main %}
<h2 class="text-center">About The Gent's Edit</h2>
<p><strong><em>Dressing intentionally</em></strong> isn't just a slogan around here. For as long as I can remember, getting dressed has been an opportunity for me to show the world who I want them to see.</p>
<p>In college, it was a lot (and I mean a&nbsp;<strong>lot</strong>) of baseball related t-shirts, hoodies, varsity jackets, anything that screamed "Look at me! I'm a ball player!", and a pair of blue jeans topped off with a pair of cowboy boots. The most stylish combination ever? Absolutely not. Did it get my point across? Definitely.</p>
<p>Graduation came, and I realized I had very little in the way of professional clothes. Lots of trips to Kohl's and J.C. Penney later, I had a respectable looking professional wardrobe to pair with my very casual clothes from school.</p>
<p>In the 10 years since, my style has grown a lot. The cowboy boots have been replaced by chukkas or penny loafers. There are fewer graphic tees and jeans, with more OCBDs and chinos, but everything still tells a story.</p>
<p>I'm very glad you're here exploring this little corner of the internet, and I hope you enjoy what I have to offer. Even if it's to laugh at old crazy outfits I put together.</p>
{% endblock %}
