{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="mb-4" align="center">
  <p>Welcome to The Gent’s Edit. The internet’s newest destination for modern men’s style, and the online home for Southeast Minnesota’s own men’s style consultant.</p>
  <p>Whether you’re starting your first job, changing careers, getting married, or giving your closet a rework, you’ll find practical advice and inspiration here.</p>
  <p>Browse the free articles, dive into in-depth paid guides, or book a one-on-one consulting session. New content is added regularly, so <a href="/contact">sign up</a> for email updates and be the first to know when the latest drop goes live.</p>
</div>

<h1>Blog</h1>
{% for post in posts %}
  <div>
    <h2><a href="{{ url_for('main.article_detail', post_id=post.id) }}">{{ post.title }}</a></h2>
    <p>{{ post.content[:200] }}...</p>
  </div>
{% endfor %}

{% endblock %}
