{% extends "layout.html" %}

{% block title %}Services{% endblock %}

{% block main %}
<div class="text-center">
    <h1>Our Services</h1>
    <p>We offer a range of services to help you look your best. Please see below for details.</p>
    <h3><strong>Groom/Groomsmen Consultant</strong></h3>
    <p>From selecting suits and coordinating styles to handling rentals and returns, we take the stress out of wedding day prep. Get expert guidance to ensure you (and your groomsmen) look sharp, stay on schedule, and feel confident walking down the aisle.</p>
    <hr/>
    <h3 ><strong>Wardrobe Audit</strong></h3>
    <p>We&rsquo;ll review your current wardrobe and identify what works, what doesn&rsquo;t, and what&rsquo;s missing. Whether you&rsquo;re refining your style or starting fresh, you&rsquo;ll walk away with a curated game plan built around your lifestyle, goals, and taste.</p>
    <hr/>
    <h3><strong>Image Consultation</strong></h3>
    <p>Your image speaks before you do. We&rsquo;ll assess your style, grooming, and presentation to ensure they align with the message you want to send, whether it&rsquo;s for professional impact, personal confidence, or a complete rebrand.</p>
    <hr/>
    <h3><strong>Personal Shopping</strong></h3>
    <p>Hate shopping? Let us handle it. We&rsquo;ll source pieces that fit your body, budget, and style goals saving you time and helping you avoid costly mistakes. From everyday essentials to special occasion looks, we&rsquo;ve got you covered.</p>
</div>

{% endblock %}
